

.con1 h2 {
padding-top: 30px;
font-size: 40px;
text-align: center;
font-family: 'SB';
}

#ab{
    width: 100%;
    display: flex;
    margin-top: 70px;
    padding-bottom: 70px;
    justify-content: center;
    /* border: solid 1px black; */
    
}

.a{
    width: 1900px;
    display: flex;
    font-size: 18px;
    /* border: solid 1px black; */
    justify-content: center;
    border-radius: 30px;
    text-align: center;
    
    }
    
    .a tr th,
    .a tr td {
        text-align: left;
        padding-left: 10px;
    }

.a tr th{
    padding-right: 160px;
}

.a tr td{
    font-size: 17px;
    padding-left: 60px;
}

.a tr th img{
    margin-right: 20px;
}



#profileimg img {
width: 220px;
}



#first3 th {
padding-top: 20px;
padding-bottom: 15px;
font-size: 20px;

}

#first5 th {
padding-top: 40px;
padding-bottom: 15px;
font-size: 20px;

}
