.con3{ background-color: rgb(220, 200, 249);
     height: 700px;
     /* border: solid 1px black; */
    }

.con3 h2{font-size: 40px; text-align: center; font-family:'SB'; padding-top: 30px;
    color: white;}

.archi{
    display: flex;
    justify-content: center;
    width: 100%;
    
    /* border: solid 1px black; */
    margin-top: 70px;
    padding-bottom: 70px;
}

#ww{
    background-color: white;
    width: 600px;
    height: 400px;
    text-align: center;
    
    padding-left: 165px;
    padding-top: 80px;
    border-radius: 30px;
    
    
}
#ww th{
    font-family:'SB';
    font-size: 20px;
}

#ww a{
    color: #959595;
}



#ww a:link{color: #8d5858; text-decoration: none; font-weight: bold};
#ww a:visited{color: #8488d2; text-decoration: none; font-weight: bold;}
#ww a:active{color: #16ad2c; text-decoration: none; font-weight: bold;}
#ww a:hover{color: #000000; text-decoration: none; font-weight: bold;}

