@font-face {
	font-family: 'SB';
	src: url('./fonts/SB.ttf');
}
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{vertical-align: top;}
html{scroll-behavior: smooth;}
.clear{
	clear: both;
}


header {
    font-size: 18px;
    padding: 1vh 1vw;
    width: 100%;
    display: flex;
    justify-content: space-between; /* header 안에서 요소들을 좌우로 분산 배치합니다. */
}

header nav ul {
    display: flex;
    margin-top: 10px;
    /* margin-left: -30px; 이 부분은 제거합니다. */
}

header nav ul li {
    margin-top: 30px;
    margin-left: 30px;
    font-weight: bold;
}

