*{margin: 0; padding: 0; box-sizing: border-box; }
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{vertical-align: top;}
html{scroll-behavior: smooth;}
.clear{
	clear: both;
}
#de{border-bottom: 1px solid #b7b7b7;
	margin-top:5px; font-size: 40px; 
	
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

header{background: #4f3208; padding: 20px 30px; color:#f9f9f9; display: flex; align-items: 
center; justify-content: space-between; position: fixed; top: 20px; width: 90%; z-index: 10;
left: 50%; transform: translateX(-50%); opacity: 50%;}
header nav ul{display: flex;}
header nav ul li{margin-left: 50px; font-weight: bold;}
#mt{
    margin-top: 400px;
}