.con5{height: 80vh;}
.con5 h2{margin-top:70px; font-size: 40px; text-align: center; }
#edu{
    margin-top: 50px;
    text-align: center;
}
#jang{
    margin-top: 90px;
}

#edjang{
    margin-top: 20px;
}
#fir{
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
}
#sec{
    margin-top: 20px;
    
}