#home{position: relative; overflow: hidden; height: 70vh;}
    #home video{position: absolute; z-index: -1; top: -300px; left: 0; opacity: 40%; width: 100%; }
    #home::before {content: "";position: absolute;z-index: -1;top: 0;left: 0;width: 100%;
    height: 100%;background-color: #4f3208; /* 원하는 색상으로 변경 가능 */
    opacity: 0.3; /* 투명도 조절 가능 (0부터 1까지의 값) */
    
}
    
#pt {
    align-items: flex-end;
    flex-direction: column; /* 요소들을 수직으로 아래로 배치합니다. */
    
    
}     
.con{height: 100vh; display: block; align-items: center; justify-content: center;
   
    color:#f9f9f9;}
.con h2{font-size: 30px;}
#hometx{
    margin-left: 330px;
    margin-top: 280px;
}
#ft {
    margin-left: 1000px;
}