.con{
    
    color:#f9f9f9;
    position: relative; 
    overflow: hidden; 
    height: 100%;
    text-align: center;
}
/* .con video{position: absolute; z-index: -1; top: -300px; left: 0; opacity: 40%; width: 100%; }


.con::before {content: "";position: absolute;z-index: -1;top: 0;left: 0;width: 100%;
    height: 100%;background-color: #000000; 
    opacity: 0.7;  } */
.con video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
}

.con::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; /* 원하는 색상으로 변경 가능 */
    opacity: 0.7; /* 투명도 조절 가능 (0부터 1까지의 값) */
}

@media (max-width: 600px) {
    .con video {
        position: static;
    }
}

#hometx{
    width: 100%;
    font-size: 30px; 
    font-family:'SB';
    margin-top: 5vh;
    text-align: center;
    
    
}

#zz{
    margin-bottom: 30px;
}

