.con4{height: 150vh; }
.con4 h2{margin-top:70px; font-size: 40px; text-align: center; }
#pro {
    margin-top: 50px;
}
#web1{
    text-align: center;
    height: 50vh;
}
#and{
    text-align: center;
    margin-top: 400px;
}
/* -----------------------이미지 슬라이드 */
body{
    margin: 0;
    padding: 0;
}
.conta{
    
    margin: 0;
    width: 1450px;
    height: 500px;
    display: flex;
    margin-left: 200px;
    margin-top: 30px;
}
.slide{
    width: 100%;
    height: auto;
    display: flex;
}
 


 
/* .slide * {display: inline-block;} */
.toleft, .toright {
    
    width: 10%;
    text-align: center;
    padding-top: 5em;
    cursor:pointer;
}
.toleft{float: left;}
.toright{float: right;}

.toleft2, .toright2 {
    width: 10%;
    text-align: center;
    padding-top: 5em;
    cursor:pointer;
}
.toleft2{float: left;}
.toright2{float: right;}
 
.content{
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
}
.slides {
    display: inline-block;
    margin: 0;
    width: 100%;
    height: 100%;
    transition:all .5s;
    padding:0;
}

.slides img {
    object-fit: cover;
    width: 50%;
    height: 100%;
}
.slides2 {
    display: inline-block;
    margin: 0;
    width: 100%;
    height: 100%;
    transition:all .5s;
    padding:0;
}

.slides2 img {
    object-fit: cover;
    width: 50%;
    height: 100%;
}

/* --------------text 시작 */
#webtext{
    width: 100%;

    margin-left: 20px;
}

#webtext2{
    margin-top: 50px;
}
#proline{
    margin-top: 30px;
    border-bottom: 1px solid #b7b7b7;
    
}


#webtext a:link{color: #8d5858; text-decoration: none; font-weight: bold};
#webtext a:visited{color: #8488d2; text-decoration: none; font-weight: bold;}
#webtext a:active{color: #16ad2c; text-decoration: none; font-weight: bold;}
#webtext a:hover{color: #ff0000; text-decoration: none; font-weight: bold;}

#webtb1{
    
    width: 100%;
}
#webtb2{
    margin-left: -10px;
    width: 800px;
}
#webtb3{
    margin-left: -50px;
    width: 100%;
}

#antb11{
    
    width: 100%;
}
#antb22{
    width: 800px;
}
#antb33{
    margin-left: -70px;
    width: 100%;
}



#webtb2 th, #webtb2 td {
    padding-top: 50px;
    
}
#webtb3 th, #webtb3 td {
    padding-top: 50px;
}


#antb22 th, #antb22 td {
    padding-top: 50px;
    
}
#antb33 th, #antb33 td {
    padding-top: 50px;
}