.con2{height: 1vh;}
.con2 h2{margin-top:70px; font-size: 40px; text-align: center; }
.progress-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#prog{
    margin-top: 50px;
    margin-left: 280px;
    margin-right: 280px;
}